<div>
  <a href="#" class="link-primary" [routerLink]="['/create-ticket']">Create Ticket</a>
  <pre></pre>
  <filter-section [dataSource]="ticketsDataSource" subjectNamePlural="Tickets">
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" (change)="reload($event)" id="includeClosedInput">
        <label class="form-check-label" for="includeClosedInput">
          Include closed tickets
        </label>
      </div>
    </div>
  </filter-section>
  <pre></pre>
  <table sortable class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th sortHeader ref="id">ID</th>
        <th sortHeader ref="raisedBy">Raised By</th>
        <th sortHeader ref="assignedTo">Assigned To</th>
        <th sortHeader ref="ticketStatus">Status</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody *ngIf="{filterTerm: (filterTerm$ | async) || ''} as filter"> <!--TODO: ngrxPush Pipe / ngrxLet  -->
      <tr *ngFor="let x of tickets$ | async; index as i; trackBy: trackTicketBy">
        <!-- NB! animations on tds because animation on *ngFor element or preceeding ng-container causes change
          detection problem when component is reloaded from previously stored route (table displays rows no longer 
          present in data source). There is no scope in table to add an extra child element to wrap. Maybe make this a grid instead -->
        <td [@confirmationHighlight]="x.animation" (@confirmationHighlight.done)="animationComplete(x.animation, x.id)">
          <ngb-highlight [result]="x.id.toString()" [term]="filter.filterTerm"></ngb-highlight>
        </td>
        <td [@confirmationHighlight]="x.animation">
          <ngb-highlight [result]="x.raisedBy" [term]="filter.filterTerm"></ngb-highlight>
        </td>
        <td [@confirmationHighlight]="x.animation">
          <ngb-highlight [result]="x.assignedTo" [term]="filter.filterTerm"></ngb-highlight>
        </td>
        <td [@confirmationHighlight]="x.animation">
          <ngb-highlight [result]="x.ticketStatus" [term]="filter.filterTerm"></ngb-highlight>
        </td>
        <td [@confirmationHighlight]="x.animation">
          <ngb-highlight [result]="x.title" [term]="filter.filterTerm"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
</div>
