<div>
  <filter-section
    [dataSource]="ticketsDataSource"
    subjectNamePlural="Tickets"
    subjectNameSingular="Ticket"
    newItemRoute="/create-ticket"
  >
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" (change)="reload($event)" id="includeClosedInput" />
        <label class="form-check-label" for="includeClosedInput"> Include closed tickets </label>
      </div>
    </div>
  </filter-section>
  <pre></pre>
  <table sortable class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th sortHeader ref="id">ID</th>
        <th sortHeader ref="raisedBy">Raised By</th>
        <th sortHeader ref="assignedTo">Assigned To</th>
        <th sortHeader ref="ticketStatus">Status</th>
        <th sortHeader ref="title">Title</th>
      </tr>
    </thead>
    <tbody *ngIf="{ filterTerm: (filterTerm$ | ngrxPush) || '' } as filter">
      <tr
        ticket-list-item
        *ngFor="let ticket of tickets$ | ngrxPush; index as i; trackBy: trackTicketBy"
        [ticket]="ticket"
        [filterTerm]="filter.filterTerm"
      ></tr>
    </tbody>
  </table>
</div>
