<div>
  <a href="#" class="link-primary" [routerLink]="['/user']">Create User</a>
  <pre></pre>
  <filter-section [dataSource]="usersDataSource" subjectNamePlural="Users"></filter-section>
  <pre></pre>
  <table sortable class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th sortHeader ref="firstName">First Name</th>
        <th sortHeader ref=lastName>Last Name</th>
        <th sortHeader ref="userType">Type</th>
        <th sortHeader ref="officeName">Office</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody *ngIf="{filterTerm: (filterTerm$ | async) || ''} as filter"> <!--TODO: ngrxPush Pipe / ngrxLet  --> 
      <tr *ngFor="let x of users$ | async; index as i; trackBy: trackUserBy">
        <td><ngb-highlight [result]="x.firstName" [term]="filter.filterTerm">{{x.firstName}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.lastName" [term]="filter.filterTerm">{{x.lastName}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.userType" [term]="filter.filterTerm">{{x.userType}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.officeName" [term]="filter.filterTerm">{{x.officeName}}</ngb-highlight></td>
        <td><a [routerLink]="['/user', x.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
